#%RAML 0.8
title: Sixtree Xref
version: v1
#baseUri: http://xref.sixtree.com.au/v1/
baseUri: http://mocksvc.mulesoft.com/mocks/55209f41-93cc-4a7b-a470-f9af3749e479/v1/

/xref:
  get:
    description: Returns the usage of the API
    responses:
      200:
        body:
          application/xml:
            example: |
              <XRef>
                <Name>XRef</Name>
                <ApiVersion>v1</ApiVersion>
                <Build>0.8.0</Build>
                <Documentation>Using your tenant ID, operate on all resources at your tenant URL: /xref/{tenant}&#xA;Contact api@sixtree.com.au for details on obtaining a tenant ID.</Documentation>
              </XRef>
        
  /{tenant}:
    get:
      description: List the Entity Sets for this Tenant
      responses:
        200:
          body:
            application/xml:
              example: |
                <Index>
                  <EntitySet ref="/xref/viva/customer">customer</EntitySet>
                </Index>
    
    /{entitySet}:
      get:
        description: Return information about an Entity Set such as the count of Relations and their names (eg. Salesforce, SAP)
        queryParameters:
          endpoint:
            description: Filter the Relations based on the Endpoints
            type: string
            required: false
            example: 'salesforce'
          id:
            description: Filter the Relations based on their ID
            type: string
            required: false
            example: '11111'
        responses:
          200:
            body:
              application/xml:
                example: |
                  <Relation>
                      <CommonId>55f60875e41d552127000003</CommonId>
                      <Reference>
                          <Endpoint>salesforce</Endpoint>
                          <Id>11111</Id>
                      </Reference>
                      <Reference>
                          <Endpoint>SAP</Endpoint>
                          <Id>123457</Id>
                      </Reference>
                  </Relation>                
          
      post:
        description: Create a new Relation for this Entity Set
        body:
          application/xml:
            example: |
              <Relation>
                   <Reference>
                      <Endpoint>SAP</Endpoint><Id>111111</Id>
                   </Reference>
              </Relation> 
        responses:
          201:
            body:
              application/xml:
                example: |
                  <Relation>
                      <CommonId>55f623ace41d5524d0000001</CommonId>
                      <Reference>
                          <Endpoint>SAP</Endpoint>
                          <Id>111111</Id>
                      </Reference>
                  </Relation>                  
                      
      put:
        description: Update a Relation to add or modify a Reference. If the Reference Endpoint exists, it will overwrite what exists. If it does not exist it will create a new Reference
        body:
          application/xml:
            example: |
              <Relation>
                <CommonId>55f623ace41d5524d0000001</CommonId>
                <Reference>
                  <Endpoint>salesforce</Endpoint>
                  <Id>222222</Id>
                </Reference>
              </Relation>  
        responses:
          200:
            body:
              application/xml:
                example: |
                  <Relation>
                      <CommonId>55f623ace41d5524d0000001</CommonId>
                      <Reference>
                          <Endpoint>SAP</Endpoint>
                          <Id>111111</Id>
                      </Reference>
                      <Reference>
                          <Endpoint>salesforce</Endpoint>
                          <Id>222222</Id>
                      </Reference>
                  </Relation>
          400:
            description: Your request was invalid. Check that the Common Id exists
                                          
        
      /{commonId}:
        get:
          description: Retrieves a specific Relation identified by this Common ID
          responses:
            200:
              body:
                application/xml:
                  example: |
                    <Relation>
                        <CommonId>55f623ace41d5524d0000001</CommonId>
                        <Reference>
                            <Endpoint>SAP</Endpoint>
                            <Id>111111</Id>
                        </Reference>
                        <Reference>
                            <Endpoint>salesforce</Endpoint>
                            <Id>222222</Id>
                        </Reference>
                    </Relation>                    
            
        /{endpoint}:
          delete:
            description: Deletes a Reference identified by this Endpoint name from the Relation identified by this Common ID. Eg. http://localhost:27017/xref/viva/customer/55f623ace41d5524d0000001/SAP - note that this is case sensitive and "sap" is not the same endpoint.
            responses:
              200:
                body:
                  application/xml:
                    example: |
                      <Relation>
                          <CommonId>55f623ace41d5524d0000001</CommonId>
                          <Reference>
                              <Endpoint>salesforce</Endpoint>
                              <Id>222222</Id>
                          </Reference>
                      </Relation>
              404:
                description: The Relation identified by this Common ID could not be found. Note that if the endpoint cannot be found, nothing will be deleted and an OK (200) will be returned.                      
          /{id}:
            put:
              description: Add or update the Reference for this Endpoint for the Relation identified by this Common ID. Eg. http://localhost:27017/xref/viva/customer/55f623ace41d5524d0000001/sap/11111
              responses:
                200:
                  body:
                    application/xml:
                      example: |
                        <Relation>
                            <CommonId>55f623ace41d5524d0000001</CommonId>
                            <Reference>
                                <Endpoint>salesforce</Endpoint>
                                <Id>222222</Id>
                            </Reference>
                            <Reference>
                                <Endpoint>sap</Endpoint>
                                <Id>11111</Id>
                            </Reference>
                        </Relation>                        
              
      